/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
article p:first-child{
	background-color:black;
	color:white;
}
article p:nth-child(3)
{
	color:red;
}
article p:nth-child(3)
{
	color:balck;
}
/*#p1{
	color:black;
}
#p2{
	color:black;
}
#p3{
	color:red;
}*/
li:nth-child(odd)
{
	background-color:white;
}
li:first-child
{
	font-size:22px;
}
li:last-child{
	font-size:22px;
	
}
/*li:nth-last-child(3)
{
	background-color:pink;
}*/
ul>li{
	background-color:gray;
}

li:nth-child(3)
{
	background-color:pink;
}
ul>li{
	width:50%;
	padding:10px;
}